/*** QMS ***/
.thread_timeline{
text-transform:lowercase;
color: #1860a8;
text-align: center;
margin: 5px;
}
.thread_message {
display: table;
width: 100%;
padding: 8px 3px;
margin-bottom:6px;
color: #707070;
border-radius:3px;
}
.thread_message > * {
display: table-cell;
}
.in_message{
background: #181818;
}
.out_message{
background: #262626;
}
.message_checkbox {
display: none;
}
.checkbox{}
.thread_message .avatar {
background-position: 50% 0px;
}
.avatar {
background-position: 50% 0px;
background-repeat: no-repeat;
background-size: contain;
height: 3.2em;
vertical-align: top;
width: 3.2em;
}
.message_content {
padding: 0px 0px 0px 7px;
}
.thread_message .member {
color: #4373C3;
float: left;
font-weight: 700;
}
.thread_message .date {
color: #3b3b3b;
float: right;
}
.thread_message .msg {
padding-bottom: 3px;
color: #efefef;
}
/******/
/*****Форма ответа*****/
#post{
font-size: 14px;   /*розмер шрифта*/
background: #444;
width:100%;
height :200px;   /*розмер шрифта*/
}
#txtinput{
padding: 5px 5px;
} 
.quick_editor {
background: #666;
-webkit-box-shadow:0px 4px 5px rgba(0, 0, 0, 0.4);
} 
.post_table{
width:100%;
}
/****Стиль поиска****/
.signature{
border-top: 1px solid #666;
border-bottom: 1px #333 groove;
padding:5px;
word-wrap: break-word;
text-align: left;
background-color: #666 !important;
color: #333;
text-size: 10px;
-webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);
font-size: 10px;
} 
.s_post_footer{
background: #666;
font-size:10px !important;
display: block;
position: relative;
padding: 5px 5px;
clear: both;
margin-bottom: 5px;
-webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);
}

.s_post_footer table{
text-align:center;
font-size: 10px !important;
}
/***Стиль темы***/
.searchlite{
color:#FF6A00;
} 
.spoiler_button{
position: relative;
z-index: 99;
float: right;
width: 100%;
display: block;
margin-top: -22px;
margin-bottom: 0px;
margin-right: 0px;
padding-top:5px;
padding-bottom: 5px;
padding-right: 5px;
background: none;
border: 0px;
text-transform:lowercase;
text-align: right;
}
.edit{
font-size: 9px !important;
color: #111;
} 
.post-edit-reason{
font-size: 11px;
border: 1px solid #333;
padding: 5px;
text-align: left;
}
.system_link {
-webkit-border-radius:7px;
display:inline-block;
color:#333 !important;
font-family:arial;
font-size:15px;
font-weight:bold;
padding:0px 4px;
text-decoration:none!important;
}
.system_link:active {
position:relative;
top:1px;
} 
.post_body img{
max-width: 100%;
height: auto!important;
} 
 .post_nick_cli a{
color: #454545!important;
font-size: 15px!important;
} 
.href_button {
background-color:#666;
display:inline-block;
color:#333;
font-family:arial;
font-size:15px;
font-weight:bold;
text-decoration:none!important;
padding: 10px;
-webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 1);
margin: 10 0 10 0;
}
.href_button:hover {
text-decoration:none;
background-color:#444;
}
.href_button:active {
text-decoration:none;
top:1px;
}
.href_button_disable {
background-color:#333;
border:1px solid #111;
display:inline-block;
color:#111;
font-family:arial;
font-size:15px;
font-weight:bold;
text-decoration:none!important;
padding: 10px;
}
.href_button_disable:hover {
text-decoration:none;
}
.href_button_disable:active {
position:relative;
}
.topic_foot_nav{
text-align: center;
color: #333;
}
.post_nick_cli {
font-size: 17px;
text-decoration: underline;
}
.post_nick_online_cli{
font-size: 17px;
text-decoration: underline;
}
.post_nick_online_cli a{
color: #888!important;
} 
.post_date_cli{
color: #333;
font-size: 11px;
word-wrap: break-word;
} 
/****вид как в браузере******
 .post_date{
	display: inline-block;
	margin: 0 5 0 5;
	position: relative;
	
	color:#333;
	float:right;
}*/
.post_nick {
font-size: 17px;
text-decoration: underline;
/*float:left;
display: inline-block;*/
}
.user_group{
color: #333;
font-size: 9px;
word-wrap: break-word;
padding: 5 0 0 5;
 } 
.post_body{
padding:8px;
word-wrap: break-word;
text-align: left;
background-color: #666;
-webkit-box-shadow:0px 4px 5px rgba(0, 0, 0, 0.4);
color: #333 !important;
font-size: 14px !important;
border-top: 1px solid #333;
border-bottom: 1px solid #333;
} 
.post_header{
background-color: #666;
text-decoration: none;
text-align: center;
margin-top: 0px;
margin-bottom: 0px;
padding:2 0 1 0;
-webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.4);
}
.post_header_editor{
background-color: #666;
color: #333;
font-weight: bold;
text-align: center;
margin-bottom: 5px;
padding:5 0 0 0;
width:100%;
} 
#hidetxtinput{
} 
.post_footer{
text-decoration: none;
text-align: left;
background-color: #666;
-webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);	
}
.topic_title_post, .topic_title_post a:link{
color: #666;
font-weight: bold;
text-align: center;
word-wrap: normal;
padding:2 0 2 0;
margin:5 0 5 0;
} 
.between_messages{
background: #f44ccc;
margin-top: 10px;
}
body{
color: #888;
font-family: Verdana ,Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
font-size: 14px;	
text-align: left;
word-wrap: break-word;
background-color: #333;
}
form{
display: inline;
margin: 0;
padding: 0;
font-size: 11px;
}
a:link{
color: #C3DDFF;
text-decoration: none;
}
.button
{
background: #333;
}
.formtable
{
background:#555;
width:100% !important;
}
.quotetop{
color: #000;
font-weight: bold;
font-size: 12px;
margin: 3 0 0 0;
padding: 3px;
-webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.7);
background-color: #555;
}
.quotemain{
color: #333;
padding: 4px;
margin: 0 0 3 0;
-webkit-box-shadow:0px 1px 2px  rgba(0, 0, 0, 0.7);
background-color: #555;
border-top: 1px #444 solid;
font-size: 12px;
} 
.codetop,
.sqltop,
.htmltop{
background: #888 url(1/css_img_code.gif) no-repeat right;
color: #000;
font-weight: bold;
margin: 0 auto 0 auto;
padding: 3px;
-webkit-box-shadow:0px 1px 2px  rgba(0, 0, 0, 0.7);
font-size: 12px;
}
.codemain,
.sqlmain,
.htmlmain{
color: #333;
font-family: Courier, "Courier New", Verdana, Arial;
padding: 2px;
border-top: 1px solid #666;
background-color: #888;
height: auto;
-webkit-box-shadow:0px 1px 2px  rgba(0, 0, 0, 0.7);
font-size: 12px;
}
#QUOTE,
#CODE{
background: #333;
border: 1px solid #000;
color: #465584;
font-family: Verdana, Arial;
font-size: 11px;
padding: 2px;
white-space: normal;
}
#CODE{
font-family: Courier, "Courier New", Verdana, Arial;
} 
.hidetop{
color: #000;
font-weight: bold;
font-size: 12px;
padding: 5 10 5 10;
margin: 5 0 0 0;
background-color: #565656;
-webkit-box-shadow:0px 1px 2px  rgba(0, 0, 0, 0.7);
} 
.hidemain{
background: #666;
color: #333;
padding: 2px;
margin: 0 0 3 0;
-webkit-box-shadow:0px 1px 2px  rgba(0, 0, 0, 0.7);
} 
.moddiv{
background-color: #555;
font-size: 12px !important;
-webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 1);
}
.exdiv{
background-color: #555;
font-color: #555 !important;
-webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 1);
font-size: 12px;
}
.curdiv{
background-color: #555;
font-color: #555 !important;
-webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 1);
font-size: 12px;
}
.postcolor {
font-size: 12px;
line-height: 160%;
}
table.ipbtable, tr.ipbtable, td.ipbtable {
color: #222;
font-size: 11px;
line-height: 135%;
}
#ipbwrapper {
text-align: left;
}
.borderwrap,
.borderwrapm{
background: #333;
border: 1px solid #c9c9c9;
}
.borderwrapm{
margin: 5px;
}
.row1{
background: #333;
}
.formsubtitle{
color: #666;
font-weight: bold;
padding: 5px;
} 
.radiobutton,
.checkbox,
.helpbox{
border: 0;
vertical-align: middle;
background: transparent;
}
/*Стиль новостей*/

h2{
font-size:15px;
text-align: center;
}
.navigation{
font-weight:bold;
display:block;
text-align:center;
margin-top:10px;
margin-bottom:15px;
}
.navigation a, .navigation a:link{
padding:6px 10px 6px 10px;
margin:2px;
text-decoration:none;
color:#333;
background-color:#666;
font-size:14px;
font-weight:bold;
-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.navigation a:hover{
color:#333;
background-color:#666;
}
.navigation a:active{
padding:5px 6px 5px 6px;
margin:2px;
text-decoration:none;
color:#333;
background-color:#454545;
}
.navi_page{
font-size: 14px;
font-weight:bold;
}
.commentheader2{
background-color: #333;
font-weight: bold;
padding-left: 7px;
padding-top: 5px;
padding-bottom: 2px;
border-top: 1px solid #111;
border-bottom: 1px solid #111;
color: #666 !important;
}
.commentheader{
padding:5px;
background-color:#333;
text-align:center;
font-style: normal;
color: #666!important;
border-top: 1px solid #111;
}
.commentmetadata{
margin:0;
display:inline;
font-size:0.9em;
color:#000;
font-weight:normal;
text-align: left;
}
.commentmetadata a{
text-decoration: none;
color: #000;
font-weight:normal;
}
.commentmetadata_rate{
float:right;
font-weight:bold;
color:#000;
font-size:1em;
}
.commentlist{
text-align: left;
display: block;
position: relative;
clear: none;
padding: 0;
word-wrap: break-word;
list-style:none;
list-style-position: outside;
}
.commentlist li{
margin:20px 0 0 0;
font-weight:bold;
list-style:none;
-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
background:#666;
color: #333;
}
.commentlist li p{
padding-left: 7px;
padding-right: 7px;
padding-bottom: 7px;
}
.commentlist p{
font-weight:normal;
text-transform:none;
word-wrap: break-word;
text-align: left;
padding-right: 3px;
}
.post img{
max-width: 100%;
height: auto!important; 
-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.post object{
width: 100%!important;
height: auto!important;
}
.parent {
font-size: 12px;
color:#000;
text-align: left;
}
#comments{
font-size: 11px;
display: block;
position: relative;
margin-top: 0px;
font-weight: normal;
color: #000000;
text-align:center
}
.commentlist cite, .commentlist cite a{
font-weight:bold;
font-style:normal;
}
.wp-pagenavi a{
display: inline-block;
padding: 5px 10px;
background-color:#666;
font-weight: bold;
text-transform:lowercase;
color: #333;
text-decoration: none;
margin: 2px;
-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.wp-pagenavi span.current {
padding: 4px 5px 6px 5px;
margin: 2px;
font-weight: bolder;
font-size: 14px;
color: #333;
background-color: #666;
-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
 tbody{
display: table;
border-spacing: 2px;
display: inherit;
vertical-align: auto;
word-wrap:break-word;
font-size: 10px;
width:100%;
}